* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5ee7df;
    --secondary-color: #b490ca;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(135deg, rgba(132, 231, 129, 0.4), rgb(0, 0, 0), rgb(2, 6, 250)), 
                radial-gradient(circle at center, #ffffff, transparent), url(/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #f5f5f5;
}

h2 {
    font-size: 2em;
    color: #f5f5f5;
}

p {
    font-size: 1em;
    color: #f5f5f5;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


section {
    margin: 2em 0;
    padding: 2em;
}


.frosted-glass {
    margin: 2em;
    padding: 2em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(1px);
}

.frosted-glass h1, .frosted-glass h2, .frosted-glass h3, .frosted-glass p {
    color: #000080;
}

.frosted-glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
}

.header .logo {
    color: #000000;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 700;
}

.header .navbar .nav-links a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
    transition: 0.4s ease;
}

.nav-links a.active {
    background-color: #1e90ff;
    color: #1e3097;
}

.header .navbar .nav-links a:hover {
    color: #0044ff;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.navbar .nav-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.navbar .nav-links a:hover {
    color: #5ee7df;
    background-color: #b0bdca;
}

/* Styles for small screens */
@media screen and (max-width: 600px) {
    .navbar .nav-links {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 5px 0;
    }

    .navbar .nav-links a {
        text-align: center;
        padding: 5px;
        border-top: 1px solid #ddd;
        width: 100%;
        font-size: 0.8em;
    }

    /* Dropdown button */
    .navbar .dropdown-btn {
        display: inline-block;
        cursor: pointer;
    }
}

/* Styles for large screens */
@media screen and (min-width: 601px) {
    .navbar .dropdown-btn {
        display: none;
    }

    .navbar .nav-links {
        display: flex;
    }
}


/* Home Section */

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 0;
    background-color: rgb(226, 166, 55);
    color: #F8F8F2;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.home-content {
    max-width: 600px;
	text-align: center
}

.home-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f3f2f8;
}

.home-content h3 {
    color: #002fff;
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 15px;
}

.home-content h1 span {
    color: #ffffff;
    display: inline-block;
    position: relative;
}

.home-content h1 span::after {
    content: "|";
    position: absolute;
    right: -10px;
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-content h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.home h1 {
    color: #F8F8F2;
}

.home .btn {
    background-color: #F92672;
    color: #F8F8F2; 
	transition: background-color 0.3s ease;
}

.home .btn:hover {
	background-color: #000000;
}

.home-content p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.6;
	font-family: 'Ubuntu Mono', monospace;
	color: #ffffff;
}

#typed-text {
    color: #010008;
	font-weight: bold;
    font-size: 30px;
}

.social-media {
    margin-bottom: 30px;
}


.social-media a {
    color: #0f0c9e;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
	color: #ffffff;
	transform: scale(1.2);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #974141;
}

.home-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-container {
    width: 400px;
    height: 500px;
    border-radius: 60%;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.social-media {
    margin-top: 1em;
}

.social-media a {
    margin-right: 1em;
}

#download-cv-btn {
    margin-top: 1em;
}

#download-cv-btn:hover {
    background-color: #277a9b;
    transform: scale(1.1);
}

/* Media queries for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .home {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 50px 20px; /* Reduce padding */
    }
    .home-content {
        max-width: 100%;
        text-align: center; /* Allow content to take full width */
    }
    .home-img {
        position: flex-end; /* Align the image to the left */
    }
    .home-content h1 {
        font-size: 32px; /* Reduce font size */
    }
    .home-content h3 {
        font-size: 20px; /* Reduce font size */
    }
    .home-content p {
        font-size: 16px;
        color: black;
    }
    .image-container {
        width: 130px; /* Reduce image size */
        height: 150px;
    }
    .btn {
        font-size: 18px; /* Reduce button font size */
    }
}


/* About Section */
.about {
    padding: 2em 0;
    color: #333;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
}

.about h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1em;
	text-align: center;
}

.about-text {
    width: 60%;
    flex: 1;
    margin-left: 20px;
}

.about-text h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1em;
	text-align: center;
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #2c3e50;
    margin-bottom: 1em;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.about-img img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
	height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#proficiency-link {
    color: #007BFF;
    font-weight: bold;
    text-decoration: underline;
    padding: 2px 5px; 
    background-color: #f8f9fa;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#proficiency-link:hover {
    background-color: rgb(150, 185, 221); 
}


@keyframes terminal-anim {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.about-img .terminal, .terminal {
    position: relative;
    border: 1px solid #56cfe1;
    border-radius: 5px;
    padding-top: 20px;
    animation: terminal-anim 1s ease-in-out infinite alternate;
}

.about-img .terminal {
    position: relative;
    border: 1px solid #56cfe1;
    border-radius: 5px;
    padding-top: 20px;
    animation: terminal-anim 1s ease-in-out infinite alternate;
}

.terminal {
    position: relative;
    border: 1px solid #56cfe1;
    border-radius: 5px;
    padding-top: 20px;
}

.terminal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #56cfe1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.terminal img {
    max-width: 100%;
    border-radius: 5px;
}

.section-text {
    padding: 0.5em 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1a252f;
}

.about-img-skills-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.about-skills-card {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.about-skills-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 2px;
    flex: 1;
    background-color: #fcbcbc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2px;
}

.about-img, 
#skills-card {
    flex: 0 0 100%;
    max-width: 100%;
}

.skill {
    margin: 20px 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.skill-bar {
    width: 100%;
    background-color: #f3f3f3;
    height: 12px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}

.skill label {
    font-size: .9rem;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

#skills-card {
    display: none;
}

.skill-level {
    height: 100%;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background: linear-gradient(to right, #000000, #6931ed);
}

/* Media queries for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .about-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .about-text, .about-img {
        width: 100%;
        margin: 0;
    }
    .about-img img {
        max-height: 200px;
    }
    .about-text h2, .about-text p {
        font-size: 0.89em; /* Adjust size as needed */
    }
    .btn {
        font-size: 0.8em; /* Adjust size as needed */
    }
}


/* Services Section */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.service:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.service-icon {
    color: #34c924;
    font-size: 2rem;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.service:hover .service-icon {
    color: #000;
}

.service-img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.service-info {
    text-align: center;
}

.service-info h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.service-info p {
    color: #666;
}

.services h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1em;
	text-align: center;
  }

  /* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    
    .services h2 {
        font-size: 2em; /* Reduce font size */
    }

    .services-container {
        display: flex; /* Change to flex layout */
        overflow-x: auto; /* Enable horizontal scrolling */
        scroll-snap-type: x mandatory; /* Enable scroll snapping */
    }

    .service {
        flex: 0 0 100%; /* Each service takes up 100% of the viewport width */
        scroll-snap-align: start; /* Align to the start of the element */
    }
    .service-icon {
        font-size: 1.5rem; /* Reduce icon size */
    }

    .service-info h3 {
        font-size: 1rem; /* Reduce font size */
    }
}
  
/* Portfolio Section */
.portfolio {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.portfolio h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1em;
	text-align: center;
}

/* Portfolio grid */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

#project-count {
    color: blue;
}


/* Portfolio card */
.portfolio-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    position: relative;
}

.portfolio-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Project info */
.portfolio-info {
    padding: 20px;
}

.portfolio-info h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.portfolio-info p {
    margin-bottom: 20px;
}

/* Buttons */
.btn {
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    
    .portfolio h2 {
        font-size: 2em; /* Reduce font size */
    }

    .portfolio-grid {
        grid-template-columns: 1fr; /* Stack grid items vertically on small screens */
    }

    .portfolio-card img {
        height: 150px; /* Reduce image height */
    }

    .portfolio-info h3 {
        font-size: 1.2em; /* Reduce font size */
    }
    
    .btn {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add bottom margin */
    }
}


/* Contact Section */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f1eded;
    transition: all 0.5s;
}

.contact h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1em;
	text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
    transition: all 0.5s;
    flex-wrap: wrap;
}

.contact-form,
.contact-details {
    background: rgba(44, 44, 153, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
}

.contact-form label,
.contact-details h3 {
    font-size: 1.em;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #333;
    color: #333;
    margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-bottom: 2px solid #1d0297;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
    color: #1f05b6;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #26df5d;
    transition: all 0.3s ease;
}

.contact-form button {
    cursor: pointer;
    background-color: transparent;
    color: #d00ee9;
    border: 2px solid #053633;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.contact-form button:before {
    content: "";
    background: #5ee7df;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transform: skewX(-45deg);
    transition: all 0.3s ease;
}

.contact-form button:hover:before {
    width: 100%;
}

.contact-form button:hover {
    color: #fff;
}

.contact-details {
    display: flex;
    flex-direction: column;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.5em;
    position: relative;
}

.contact-details p {
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.contact-details p i {
    font-size: 1.5em;
    color: #1f05b6;
}

.contact-details a:hover {
    color: #e228ba;
}

.contact-details a {
    color: #0a0a0a;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details p:hover:before {
    width: 100%;
}

.contact-details p:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #5ee7df;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .contact-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 2em;
        transition: all 0.5s;
        flex-wrap: wrap;
    }
}



.footer {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.footer-content {
    display: flex;;
    align-items: center;
    color: white;
}

.footer p {
    margin: 0;
    flex-grow: 1;
    color: #fff;
}



  /* Adjustments for smaller screens */
  @media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
    h2 {
        font-size: 24px;
    }
}
